<a href="https://colab.research.google.com/github/kavyakumaraguru/PYTHON_LETSUPGRADE/blob/master/DAY2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY 2 
KAVYA K
EMAIL : kavya.kguru@gmail.com 

PYTHON BASIC SYNTAX
1. BACK SLASH
2. TRIPLE QUOTES
3. STRING INSIDE THE QUOTES
4. ESCAPE SEQUENCE OF STRING
5. FORMATTED OUTPUT

In [1]:
print("hello \
kavya")

hello kavya

In [3]:
print("""HII THERE""")

HII THERE

In [4]:
print("kavya's friend is priya")

kavya's friend is priya

In [5]:
print("print kavya with a \t space")

print kavya with a 	 space

In [6]:
print("print \n kavya")

print
 kavya

In [7]:
name="kavya"
age="22"
degree="Mtech"
print(name, "is",age,"year old","she is pursuing ",degree)

kavya is 22 year old she is pursuing  Mtech

2.PYTHON VARIABLES

In [13]:
A=10
b=20
c=b
Name_stud1="kavya"
print(A+b)
print(Name_stud1)
print(c)

30
kavya
20

3.PYTHON OPERATORS
A) ARITHMATIC OPERATORS
B)COMPARISON
C)ASSIGNMNET
D)BITWISE
E)LOGICAL
F)MEMBERSHIP
G)IDENTITY

A) ARITHMETIC

In [17]:
x=5
y=10

print(x+y) #addition
print(y-x) #sub
print(y/x) #division
print(x**y) #expo
print(y%x) #remdr
print(x*y) #mul
print(x//y) #floor

15
5
2.0
9765625
0
50
0

B)COMPARISON OPERATOR

In [18]:
x=10
y=5
print(x>y)
print(x<y)
print(x==y)
print(x<=y)
print(x>=y)
print(x!=y)

True
False
False
False
True
True

c)ASSIGNMNET OPERATOR

In [29]:
x=5
y=10
x=y

print(x)
x+=y
print(x)
x-=y
print(x)
x*=y
print(x)
x/=y
print(x)
x%=y
print(x)
x=10
x//=y
print(x)
x=10
x**=y
print(x)

10
20
10
100
10.0
0.0
1
10000000000

D) BITWISE OPERATOR

In [35]:
x=10
y=20
x&y
x|y
~y
x>>2

2

E)LOGICAL OPERATOR

In [38]:
x=True
y=False
print(x and y)
print(x or y)
print(not y)

False
True
True

F)MEMBERSHIP OPERATOR

In [40]:
X= "hi kavya"
print("x" not in  X)
print("a" not in X)
print("a" in X)

True
False
True

G)IDENTITY OPERATOR

In [45]:
x1=20
x2=20
NAME1="KAVYA"
NAME2="PAPU"
print(x1 is not x2)
print(x1 is x2)
print( NAME1 is not NAME2)

False
True
True